#title,
#description {
  text-align: center;
}

#title {
  margin-bottom: 0;
}

#description {
  margin-top: 0;
}

#canvas {
  /* background-color: royalblue; */

  background-color: lightgray;
}

#tooltip {
  background-color: rgba(12, 12, 12, 0.6);
  width: auto;
  color: #fff;
  padding: 10px;
  opacity: 0.5;
  text-align: center;
  font-weight: 100;
  font-size: 1.5rem;
  border-radius: 10px;
}

#legend {
  margin: auto;
}

#legend-container {
  border: 2px solid red;
}
